.top1 
{
background:no-repeat;
width: 200px;
height: 180px;
margin:6px;
padding: 6px;
top: -7px;
position:absolute;
left: -12px;

}


.top2
{
	background:no-repeat;
	width: 200px;
	height: 180px;
	margin:6px;
	padding: 6px;
	top: -7px;
	left: 194px;
	position:absolute;

}




.top3 
{
	background:no-repeat;
	width: 200px;
	height: 180px;
	margin:6px;
	padding: 6px;
	top: -7px;
	left: 400px;
	position:absolute;
}

.top4
{
	background:no-repeat;
	width: 200px;
	height: 180px;
	margin:6px;
	padding: 6px;
	top: -7px;
	left: 607px;
	position:absolute;
}







ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

#nav li {
  margin-top: 10px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}


#nav, #nav ul, #nav ul 
{
  margin: 0px;
  list-style-type: none;
  padding-left: 0px;
 color: #D61A0C;

}


a:-webkit-any-link 
{
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
  color: #D61A0C;
  text-decoration: none;
}

#nav ul a {
    color: #2E8B57;
}

#nav a
{
color: #999;
font-family: helvetica,Arial,tahoma;
font-size: 14px;
text-decoration: none;
display: block;
font-weight: normal;
}






#menu2
{
left: 80px;
position:absolute;
top: 500px;
background-color: white;
width: 200px;
height: 380px;

padding: 20px;
border: 1px solid #E5E5E5;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
	
-webkit-box-shadow: 0 2px 10px -1px rgba(200,200,200,0.7);
-moz-box-shadow: 0 2px 10px -1px rgba(200,200,200,0.7);
-ms-box-shadow: 0 2px 10px -1px rgba(200,200,200,0.7);
-o-box-shadow: 0 2px 10px -1px rgba(200,200,200,0.7);
box-shadow: 0 2px 10px -1px rgba(200,200,200,0.7);
	
}



.block_red
{
left: 80px;
position:absolute;
top: 384px;
background-color: #FF0000;
width: 200px;
height: 70px;

padding: 20px;
border: 1px solid #000000;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
color:white;
		
}
